table {
	border-collapse: collapse;
}

.center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-weight: bold;
}
.showTopic{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-weight: bold;
}

th {
 background: blue;
		border: 1px solid black;
}

td {
	border: 1px solid black;
}
.list{
	text-align: right;
}